.feedback-form {
    border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 256px;
    background: #fff;
}

.name-forms {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.user {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-top: 8px;
    border: 1px solid rgba(128, 128, 128, 1);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 10px;
}

.create {
    border: none;
    margin-top: 16px;
    border-radius: 8px;

    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.create:focus,
.create:hover {
    background: #6c8cff;
}

textarea {
    font-family: "Montserrat", sans-serif;
    width: 360px;
    max-height: 80px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-top: 8px;
    padding-left: 10px;

    border: 1px solid rgba(128, 128, 128, 1);
    border-radius: 5px;
    resize: none;
}